.settings-view-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 24px 60px 24px;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.settings-view-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.settings-content-body {
  width: 100%;
  max-width: 760px;
}
